<?xml version="1.0"?>
<robot name="part"> 
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.55 1.55 0.8"/>
      </geometry>
      <origin xyz="0 0 0.4"/>
      <material name="Red">
        <color rgba="1 0.1 0.1 0.6"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.55 1.55 0.8"/>
      </geometry>
      <origin xyz="0 0 0.4"/>
    </collision>
  </link>
</robot>
